* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121723;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
}

.App {
  text-align: center;
  width: 100%; 
  padding-top: 70px; 
}

.App-header {
  width: 100%;
  height: 70px;
  background-color: #1C2430;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0; 
  right: 0; 
}

#ul-nav {
  display: flex;
  list-style-type: none;
}

#ul-nav li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

#ul-nav li:hover {
  color: #4caf50;
}

#ul-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#ul-skills li {
  margin-bottom: 10px;
  font-size: 16px;
}

#ul-skills li:last-child {
  margin-bottom: 0;
}

p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}

img {
  max-width: 100%;
  width: 300px;
  height: 220px;
  margin-right: 20px; /* Adjusted right margin */
  border-radius: 10px;
  cursor: pointer;
}

#img-divs-box {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#img-divs-box img {

    margin-right: 20px; /* Adjusted right margin */
    margin-bottom: 20px; /* Adjusted bottom margin */
  
}

#skills-section {
  max-width: 800px;
  margin: 20px auto;
}

.skill {
  margin-bottom: 20px;
}

p {
  margin-bottom: 5px;
}

.progress-bar {
  height: 20px;
  background-color:cornflowerblue;
  width: 0;
  transition: width 1s ease; 
  border-radius: 10px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

#contact-section {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.contact-card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.contact-item {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.contact-item a {
  color: #4caf50;
}

.contact-item:hover {
  background-color: #1C2430;
}

.email {
  background-color: #3498db;
}

.phone {
  background-color: #e74c3c;
}

.address {
  background-color: #2ecc71;
}

.map-container {
  margin-bottom: 30px;
}

/* ... Remaining CSS ... */

.zoomed {
  cursor: zoom-out;
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#pfp {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 30px;
}

.github-link {
    text-decoration: none;
    color: green; 
}

@media (max-width: 657px)  {
  .contact-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-item {
    width: 60%;
  }
}

@media (max-width: 800px) {
  img,
  #img-divs-box img {
    margin-right: 0; /* Remove right margin for smaller screens */
  }
}

.cont-info {
  max-width: 100%;
  width: 200px;
}

@media (max-width: 460px) {
  .App-header {
    align-items: center;
    justify-content: center;
    height: 90px;
  }
  #ul-nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #ul-nav li {
    font-size: 14px;
    margin-bottom: 4px;
  }
}